@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #1c1c25;
  overflow-x: hidden;
}

.swiper-slide {
  height: fit-content;
  transition: 200ms ease-in-out;
  animation-timing-function: linear;
  overflow: hidden;
}

.swiper-slide div div .card__desc {
  display: none;
}
.swiper-slide:hover div div .card__desc {
  display: block;
}
